
#principal {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}


.secundario {
    width: 30%; /* Cada carta ocupa el 30% del ancho */
    margin: 1%; /* Margen entre los div */
    border: 3px solid #90972c; /* Borde opcional para visualizar los límites de los div */
    border-radius: 3px;
    box-sizing: border-box; /* Asegura que el tamaño total incluya el borde */
    overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del div */
}
.imagen {
    max-width: 100%; /* La imagen no puede exceder el ancho del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
}